@using IT.Service.Management.UI.Client.Services;
@using IT.Service.Management.UI.Shared.FormModels
@using IT.Service.Management.UI.Shared.Models

<EditForm Model="@ticket" OnValidSubmit="@OnValidSubmit">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <div>
            <InputText @bind-Value="@ticket.Title" class="form-control" />
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <div>
            <InputTextArea @bind-Value="@ticket.Description" class="form-control" />
        </div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">@SubmitButtonText</button>
    </div>

</EditForm>

@code {
    [Parameter]
    public Ticket? ticket { get; set; }

    [Parameter]
    public string SubmitButtonText { get; set; } = "Save";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}